<strong>Password Recovery</strong>

<p>Solicitação de senha para o email ({{email}})</p>

<p>Para continuar, utilize o token {{token}} ou clique no link: </p>
<a href="#">Criar nova senha</a>

<small>Verifique se foi o autor dessa solicitação</small>

